h3 {
  color: #d81b60;
  display: flex;
  transition: 1s ease-in;
}

body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

// DONT WRITE CODE AFTER IMPORTS
