h3 {
  color: $titleColor;
  display: flex;
  transition: 1s ease-in;
}

@font-face {
  font-family: 'exampleFont';
  src: url(#{$fonts}/example-font.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'exampleFont';
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#testImg {
  background: url(#{$img}/example.jpg) no-repeat center/cover;
}

@each $size in $listTest {
  .text-#{$size} {
    font-size: #{$size}px;
  }
}

.img-120 {
  width: #{map-get($map: $imgSizes, $key: medium)}px;
}
.img-60 {
  width: #{map-get($map: $imgSizes, $key: small)}px;
  height: #{map-get($map: $imgSizes, $key: small)}px;
}

p {
  --test: 32px;

  color: white;
  font-size: var(--test);

  @media screen and (max-width: 720px) {
    --test: 11px;

  }
}

// DONT WRITE CODE AFTER IMPORTS
