//set the color of a element by looking og the lightness of his backgtound
// -->  set-text-color($backgound-color)
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #FFFFFF; // Darker background, return light color
  }
}



@mixin alpha-prop($prop, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$prop}: $solid-color;
  #{$prop}: $color;
}
