//// =======================================================================//
//   FONT FAMILY                                                           //
// =======================================================================//

$body-text-font-family: 'Avenir', 'Gill Sans', 'Arial', sans-serif;
$headlines-font-family: 'Georgia', sans-serif;


//// =======================================================================//
//   FONT SIZE:                                                            //
// =======================================================================//

$body-text-font-size: 1em;
$headlines-font-size: 2em;
